# PRÁTICA GUIADA 1

In [1]:
import numpy as np
import pandas as pd

## Analisando o ranking CWUR

O Center for World University Rankings ([cwur.org](https://cwur.org/)) é uma agência que provê consultoria em políticas e estratégias educacionais para governos e universidades, para melhorar resultados educacionais e de pesquisa.

In [2]:
cwur = pd.read_csv("cwurData.csv", sep = ",")

## Verificando o dataset

In [ ]:
cwur
# demonstrar cell scrolling

In [ ]:
cwur.shape

In [ ]:
len(cwur)

In [ ]:
cwur.head()

In [ ]:
cwur.tail()

In [ ]:
cwur.columns

In [ ]:
cwur.dtypes

In [ ]:
cwur.info()

## Agregações simples em Pandas.

* Como em um array de uma dimensão, a agregação para uma ``Series`` retorna um valor único.

### Podemos calcular a soma e média de citações por cada universidade.

In [ ]:
cwurSumCitations = cwur["citations"].sum()
cwurSumCitations

In [ ]:
cwurMeanCitations = cwur["citations"].mean()
cwurMeanCitations

* Para um ``DataFrame``, os `aggregate`, por padrão, retornam os resultados dentro de cada coluna:

* Especificando o argumento ``axis``, é possível adicionar os resultados a cada linha. Como no caso de NumPy, em `axis`, é definida a dimensão na qual os dados são recolhidos. Se quisermos resultados por linha, então, `axis = 'columns'` e vice-versa.

In [ ]:
citationsandpublications = cwur.loc[:,["citations",'publications']].sum()
citationsandpublications

* É possível definir o eixo que a função `sum()`, deve ser aplicado [sum](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html?highlight=sum#pandas.DataFrame.sum).

In [ ]:
citationsandpublications = cwur.loc[:,["citations",'publications']].sum(axis=1)
citationsandpublications

* Uma resumo de algumas funções de agregação em Pandas:

| Aggregation | Description |
|--------------------------|---------------------------------|
| ``count()`` | Total number of items |
| ``mean()``, ``median()`` | Mean and median |
| ``min()``, ``max()`` | Minimum and maximum |
| ``std()``, ``var()`` | Standard deviation and variance |
| ``mad()`` | Mean absolute deviation |
| ``prod()`` | Product of all items |
| ``sum()`` | Sum of all items |
| ``value_counts()`` | Total number of items by each different value |

Todos são métodos dos objetos ``DataFrame`` e ``Series``.

In [ ]:
cwur.describe()

In [ ]:
cwur.describe().T

In [ ]:
round(cwur.describe().T,2)

### Exercícios

#### Apresente um quadro resumido das métricas (publications, influence, citations, broad_impact) para as universidades do Brasil e da Argentina

In [70]:
metr_bras = cwur[['publications','influence','citations','broad_impact']]\
                [(cwur.country == 'Brazil')].describe()

metr_arg =  cwur[['publications','influence','citations','broad_impact']]\
                [(cwur.country == 'Argentina')].describe()

# cwur['country'].unique()
# cwur.columns

In [76]:
metr_bras

       publications   influence   citations  broad_impact
count     36.000000   36.000000   36.000000     36.000000
mean     622.194444  726.888889  608.000000    736.500000
std      260.657062  223.931339  196.221304    248.750765
min       59.000000  182.000000  114.000000    162.000000
25%      415.250000  604.250000  493.000000    526.750000
50%      709.500000  803.000000  627.000000    887.500000
75%      803.250000  905.500000  800.000000    937.000000
max      985.000000  974.000000  812.000000    975.000000

In [77]:
metr_arg

       publications   influence   citations  broad_impact
count      7.000000    7.000000    7.000000      7.000000
mean     577.428571  600.714286  522.142857    683.285714
std      253.409982  209.790145  172.839452    249.779712
min      268.000000  348.000000  321.000000    344.000000
25%      411.000000  436.500000  384.500000    517.500000
50%      546.000000  559.000000  511.000000    703.000000
75%      715.000000  803.500000  627.000000    872.500000
max      976.000000  818.000000  800.000000    956.000000

#### Apresente o mesmo quadro, porém para todos os outros países que não são Brasil e Argentina

In [74]:
all_but_not = cwur[['publications','influence','citations','broad_impact']]\
        [(cwur.country != 'Argentina') | (cwur.country != 'Brazil')].describe()

all_but_not
# cwur['country'].unique()

       publications    influence    citations  broad_impact
count   2200.000000  2200.000000  2200.000000   2000.000000
mean     459.908636   459.797727   413.417273    496.699500
std      303.760352   303.331822   264.366549    286.919755
min        1.000000     1.000000     1.000000      1.000000
25%      175.750000   175.750000   161.000000    250.500000
50%      450.500000   450.500000   406.000000    496.000000
75%      725.000000   725.250000   645.000000    741.000000
max     1000.000000   991.000000   812.000000   1000.000000

#### Quanto que as médias do Brasil e da Argentina conjuntamente representam da média do resto do mundo nos 4 critérios?

In [78]:
mean_brarg = cwur[['publications','influence','citations','broad_impact']]\
                [(cwur.country == 'Brazil') | (cwur.country == 'Argentina')].mean()/100

mean_all = cwur[['publications','influence','citations','broad_impact']].mean()/100

mean_all - mean_brarg

publications   -1.549983
influence      -2.465511
citations      -1.806060
broad_impact   -2.311377
dtype: float64

#### Quantas universidades por país?

In [55]:
# cwur.columns
cwur[['country','institution']].groupby('country').count()

                      institution
country
Argentina                       7
Australia                      58
Austria                        24
Belgium                        20
Brazil                         36
Bulgaria                        2
Canada                         72
Chile                           8
China                         167
Colombia                        4
Croatia                         2
Cyprus                          2
Czech Republic                 10
Denmark                        12
Egypt                           8
Estonia                         2
Finland                        20
France                        109
Germany                       115
Greece                         14
Hong Kong                      12
Hungary                        12
Iceland                         2
India                          31
Iran                           16
Ireland                        16
Israel                         22
Italy                          96
Japan                         159
Lebanon                         2
Lithuania                       2
Malaysia                        6
Mexico                          4
Netherlands                    29
New Zealand                    12
Norway                         12
Poland                         18
Portugal                       14
Puerto Rico                     2
Romania                         3
Russia                          9
Saudi Arabia                    8
Serbia                          2
Singapore                       5
Slovak Republic                 2
Slovenia                        4
South Africa                   10
South Korea                    72
Spain                          81
Sweden                         24
Switzerland                    26
Taiwan                         46
Thailand                        6
Turkey                         20
USA                           573
Uganda                          2
United Arab Emirates            2
United Kingdom                144
Uruguay                         2

## Formatação simples

* 5 universidades com a maior quantidade de publicações

In [ ]:
cwur.sort_values(by='publications', ascending=False).head(5)[['institution','publications','influence']]

In [ ]:
cwur.sort_values(by=['publications','influence'], ascending=False).head(5)[['institution','publications','influence']]

* Por que acontece o problema a seguir?

In [ ]:
pubs_sum = cwur.publications.sum()
faculty_sum = cwur.quality_of_faculty.sum()
impact_sum = cwur.broad_impact.sum()
pubs_mean = cwur.publications.mean()
faculty_mean = cwur.quality_of_faculty.mean()
impact_mean = cwur.broad_impact.mean()

print(pubs_sum)
print(faculty_sum)
print(impact_sum)
print('-----------')
print(pubs_mean)
print(faculty_mean)
print(impact_mean)
print('-----------')
print(pubs_sum/faculty_sum)
print(pubs_mean/faculty_mean)
print(pubs_sum/impact_sum)
print(pubs_mean/impact_mean)

* Podemos evitar problemas eliminando valores com a função [.dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html?highlight=dropna#pandas.DataFrame.dropna).

In [ ]:
pubs_sum_na = cwur.dropna().publications.sum()
impact_sum_na = cwur.dropna().broad_impact.sum()
pubs_mean_na = cwur.dropna().publications.mean()
impact_mean_na = cwur.dropna().broad_impact.mean()

print(pubs_sum_na/impact_sum_na)
print(pubs_mean_na/impact_mean_na)

In [ ]:
cwur[['publications', 'broad_impact']].dropna().describe()

* Tipos de dados

In [ ]:
cwur.dtypes

In [ ]:
cwur.year

In [ ]:
cwur.year.astype('str')

In [ ]:
cwur.year.astype('float')

## Agregações conplexas em Pandas (GroupBy: Split, Apply, Combine)

* Muitas vezes, é importante poder fazer operações de agregação de forma condicional a algum subconjunto de dados (por exemplo, para casos que atendam a alguma condição). Isso é implementado pelo operador `groupby`
* O nome `groupby` é proveniente da linguagem SQL (que será abordada em outras aulas).
* É útil pensar sobre os termos de Hadley Wickham: *split, apply, combine* (dividir-aplicar-combinar)

### Split, apply, combine:

* A etapa `split` envolve dividir e reagrupar um ``DataFrame`` baseado em uma determinada chave.
* A etapa `apply` pressupõe calcular alguma função (geralmente, alguma agregação, transformação ou filtro) sobre os grupos constituídos na etapa anterior.
* A etapa `combine` faz uma "mesclagem" dos resultados dessas operações em um novo array.

#### Embora cada uma das etapas possa ser feita "manualmente", o ``GroupBy`` geralmente pode fazê-las em uma única etapa:

* A vantagem do ``GroupBy`` é que permite abstrair as três etapas anteriores: o usuário não precisa pensar em "como" fazer o cálculo, mas pensar na operação como um todo.

#### A operação `split`-`apply`-`combine` mais básica com o método ``groupby()`` é passar o nome de uma chave de coluna específica.

### O objeto GroupBy

* O objeto ``GroupBy`` é uma abstração muito flexível.
* Pode ser tratado como uma coleção de `DataFrame` e faz algumas coisas complicadas em segundo plano...
* Talvez as operações mais importantes de um objeto ``GroupBy`` sejam *aggregate*, *filter*, *transform* e *apply*

In [ ]:
cwur.groupby('country')

* Observe que o método [.groupby()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html?highlight=groupby#pandas-dataframe-groupby) não retorna um ``DataFrame``, mas um objeto ``DataFrameGroupBy``. Podemos pensar no `DataFrameGroupBy` como uma visualização especial de um `DataFrame` que constrói os grupos, mas não executa nenhum cálculo até que o estágio de agregação seja aplicado.

* Esta avaliação faz com que as operações de agregação possam ser calculadas de forma muito eficiente. Para produzir um resultado, podemos aplicar uma função de agregação a este ``DataFrameGroupBy`` para executar a operação (aplicar) e prosseguir na etapa de combinação.

In [ ]:
cwur.groupby('country').sum().sort_values("citations", ascending = False).head()

* Qualquer operação de agregação comum de Pandas ou NumPy e quase qualquer operação válida para um `DataFrame` podem ser executadas virtualmente, como veremos a seguir.

### Indexing de colunas

* O objeto ``Group By`` dá suporte à indexação de colunas da mesma forma que um ``DataFrame`` e retorna um objeto ``GroupBy`` modificado:

In [ ]:
cwur.groupby('country')['patents']

* Selecionar uma ``Series`` em particular do ``DataFrame`` original referenciando-o com o seu nome da coluna.
* Como antes, nenhum cálculo é feito até que alguma função de agregação sobre o objeto seja invocada.

In [ ]:
cwur.groupby('country')['patents'].sum().sort_values(ascending = False)

* O que é observado nesses casos?

Iteração sobre grupos:

* O objeto ``GroupBy`` suporta a iteração direta sobre grupos, retornando cada grupo como uma ``Series`` ou um ``DataFrame``.

In [ ]:
for (pais, group) in cwur.groupby('country'):
    print("{0:20s} shape = {1} ".format(pais, group.shape))

* A função [str.format](https://docs.python.org/3.4/library/stdtypes.html#str.format) desempenha a operação de formatação de uma "string". Embora possamos fazer este tipo de operações manualmente, veremos a seguir o potencial que as funcionalidades ``apply`` têm.

 Dispatch methods:

* Qualquer método que não tenha sido implementado explicitamente pelo objeto `GroupBy` será executado em cada grupo.
* Por exemplo, o método `describe()` de `DataFrames` pode ser usado para executar muitas operações de agregação dentro de cada grupo.

In [ ]:
cwur.groupby('country')['score'].describe()

 O que pode ser dito sobre esses dados? 

* Este é apenas um exemplo da utilidade desses métodos. Observar que eles são aplicados a cada um dos grupos individuais e que os resultados são combinados em um objeto `GroupBy`, e retornados.

### Aggregate, filter, transform, apply

* Há muitas outras opções de operações disponíveis.
* Os objetos ``GroupBy`` têm alguns métodos muito úteis: ``aggregate()``, ``filter()``, ``transform()`` e ``apply()`` que implementam muitas operações na etapa anterior ao "combine"

* Vamos ilustrar estas operações com o seguinte ``DataFrame``:

* A função [.aggregate()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.aggregate.html#pandas-dataframe-aggregate) agrega dados usando um ou mais operações sobre o eixo especificado.

### Aggregation

* O método `.aggregate()` possibilita uma grande flexibilidade:
* Pode aceitar uma string, uma função ou uma lista e calcular todos os agregados em uma única etapa.

* A seguir vamos agregar os dados de mínimo, máximo, média e soma as medida de "score" por instituição.

In [ ]:
cwur.groupby('institution')["score"].aggregate([min, np.median, max, sum, ])

* Outra maneira útil é usar um dicionário que mapeia nomes de coluna com operações. Desta forma, a operação é aplicada a cada coluna.

### Filtering

* Uma operação de filtragem permite "descartar" dados com base nas propriedades do grupo.
* Por exemplo, podemos querer manter todos os grupos onde o desvio padrão é maior que algum valor de corte:

Abaixo podemos filtrar as instituições que possuem um número de citações maior ou igual a um determinado valor de corte.

In [ ]:
def filter_func(x):
    return x["citations"].sum() >= 1500

cwur.groupby('institution').filter(filter_func)["institution"].unique()

* A função filtro retorna um booleano especificando se o grupo passa pelo filtro ou não.

### Transformation

* Enquanto a agregação retorna uma versão reduzida dos dados, a transformação retorna alguma versão transformada dos dados para, então, fazer a combinação.
* A saída de uma transformação tem o mesmo `shape` que a entrada.

* O método [.transform()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.transform.html) chama uma função "on self", produzindo um Data Frame com valores transformados pela função chamada.

In [ ]:
def center_mean(x):
    return(x - x.mean())

print(cwur[["country","publications"]].groupby('country').transform(center_mean))

### O método `apply()`:

O método [.apply()](https://pandas.pydata.org/pandas-docs/version/0.22.0/generated/pandas.DataFrame.apply.html) aplica uma função ao longo do eixo especificado do DataFrame. 

* O método `apply()` permite aplicar alguma função dada aos resultados do grupo.
* A função deve tomar como entrada ``DataFrame`` e retornar um objeto de Pandas (``DataFrame``, ``Series``) ou um escalar. 
* A operação combine será adaptada ao tipo de saída retornada.

* Vamos primeiro tornar a coluna `national_rank` em uma tipo string, uma vez que não vamos operar matematicametne sobre esse índice.

In [ ]:
cwur['national_rank'] = cwur['national_rank'].apply(str)

In [ ]:
cwur["national_rank"]

Aqui aplicamos o método `.apply()` juntamente com o método `.groupby()` e o resultado é uma coluna de citações normalizada pela número total de publicações da instituição.

In [ ]:
# O resultado é uma coluna PASSAGEIROS normalizada pela participação do grupo no total de passageiros da província
def norm_by_data2(x):
    # x is a DataFrame of group values
#    x['publications'] /= x['citations'].sum()
    x['citations'] /= x['publications'].sum()
    return x

cwur[["country","publications","citations", "institution"]].groupby('institution').apply(norm_by_data2)

* Como podemos interpretar a tabela acima?

### Especificando a chave do "split"

* No exemplo anterior, o split do ``DataFrame`` foi feito em uma única coluna.
* Há outras opções...

#### Podemos pensar em uma lista, arranjo, series ou index que contenha as chaves do agrupamento, vamos a seguir realizar a soma de todos de todas as colunas númericas, discriminadas pela instituição e agrupadas por país.

In [ ]:
L = ["country","institution"]
cwur.drop(['year'], axis = 1).groupby(L).sum()

#### Podemos também reazilar uma soma generalizada das métricas por país.

In [ ]:
cwur.drop(['year'], axis = 1).groupby("country").sum().head()

#### A forma a seguir é equivalente à anterior.

In [ ]:
cwur.drop(['year'], axis = 1).groupby(cwur["country"]).sum().head()

#### Podemos definir uma das colunas  como índice de um novo dataframe e criar um dicionário das cinco primeiras universidades rankeadas, como a soma de diversas quantidades.

In [ ]:
cwur2 = cwur.drop(['world_rank',
            'national_rank',
            'year',
            'quality_of_education',
            'quality_of_faculty',
            'influence'
                  ], 
                  axis = 1
                 )
cwur2 = cwur2.set_index('institution')
cwur2
mapping = {'Harvard University': 'HU',
           'Massachusetts Institute of Technology': 'MIT',
           'Stanford University': 'SU',
           'University of Cambridge': 'UoC',
           'California Institute of Technology': 'Calteh'
          }
cwur2.groupby(mapping).sum()

#### Podemos agrupar o dataframe original por país e verificar as médias das métricas escolhidas.

In [ ]:
cwur.drop(['world_rank', 
           'national_rank', 
           'quality_of_education', 
           'quality_of_faculty', 
           'year'], axis = 1
         ).groupby('country').mean()

#### Uma lista de chaves válidas pode ser agrupada com base em multi-indexadores.

In [ ]:
cwur2 = cwur.drop(['world_rank',
            'national_rank',
            'year',
            'quality_of_education',
            'quality_of_faculty',
            'influence'
                  ], 
                  axis = 1
                 )
cwur2 = cwur2.set_index('institution')
cwur2
mapping = {'Harvard University': 'HU',
           'Massachusetts Institute of Technology': 'MIT',
           'Stanford University': 'SU',
           'University of Cambridge': 'UoC',
           'California Institute of Technology': 'Calteh'
          }
cwur2.groupby([str.lower, mapping]).mean()

#### Exemplo de aplicação:

* Imagine que queremos descobrir qual a fração de publicações, entre as universidades cujos "scores" superam um determinado valor de corte "scoreCut".
 
* Queremos agrupar a tabela por instituição e seu país de origem e realizar a soma do número de publicações, por agrupamento e dividir esse valor pela soma total de publicações das instituições que superam "scoreCut".

In [ ]:
scoreCut = 80.00
cwur.loc[cwur['score'] >= 
         scoreCut].groupby(['institution', 
                            'country'])['publications'].sum().unstack().fillna(0) / sum(cwur.loc[cwur['score'] >= 
                                                                                                 80.00, 
                                                                                                 "publications"])*100

#### Perceba que a função [unstack()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.unstack.html) permito o pivotamento do dataframe, na coluna `country`. A função [fillna()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html?highlight=fillna#pandas.DataFrame.fillna) preenche possíveis valores NA/NaN com o valor especificado.