# Prática Independente de Pandas 1.

### 1. Introdução.

#### Diariamente, o Ministério da Saúde, por meio da Secretaria de Vigilância em Saúde (SVS/MS) divulga dados consolidados sobre o [COVID-19](https://covid.saude.gov.br/).

#### Importamos os pacotes a serem usados.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

#### Importamos os dados a serem usados.

In [2]:
dataset = pd.read_csv('HIST_PAINEL_COVIDBR_12mai2021.csv',sep=';')

In [3]:
dataset.head()
dataset.isnull().sum()

regiao                          0
estado                        445
municipio                   21058
coduf                           0
codmun                      12406
codRegiaoSaude              21058
nomeRegiaoSaude             21058
data                            0
semanaEpi                       0
populacaoTCU2019             8652
casosAcumulado                  0
casosNovos                      0
obitosAcumulado                 0
obitosNovos                     0
Recuperadosnovos          2315508
emAcompanhamentoNovos     2315508
interior/metropolitana      21058
dtype: int64

In [4]:
dataset.shape

(2315898, 17)

#### Exercício 1.1: Faça um slice no dataframe para considerar apenas os dados do estado de Minas Gerais.

In [5]:
# dataset.columns
dataset['estado'].unique()
dataset_MG = dataset[dataset.estado == 'MG']
dataset_MG.tail()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
1293721,Sudeste,MG,Wenceslau Braz,31,317220.0,31003.0,ITAJUBA,2021-05-08,18,2552.0,146,4,4,0,NaN,NaN,0.0
1293722,Sudeste,MG,Wenceslau Braz,31,317220.0,31003.0,ITAJUBA,2021-05-09,19,2552.0,146,0,4,0,NaN,NaN,0.0
1293723,Sudeste,MG,Wenceslau Braz,31,317220.0,31003.0,ITAJUBA,2021-05-10,19,2552.0,146,0,4,0,NaN,NaN,0.0
1293724,Sudeste,MG,Wenceslau Braz,31,317220.0,31003.0,ITAJUBA,2021-05-11,19,2552.0,150,4,4,0,NaN,NaN,0.0
1293725,Sudeste,MG,Wenceslau Braz,31,317220.0,31003.0,ITAJUBA,2021-05-12,19,2552.0,155,5,4,0,NaN,NaN,0.0

#### Exercício 1.2: Selecione também um dataset contendo apenas os dados para a capital de MG.

In [6]:
# dataset_MG.columns
dataset_MG['municipio'].unique()
dataset_MG_BH = dataset_MG[dataset_MG.municipio == 'Belo Horizonte'] 
dataset_MG_BH.tail()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
969477,Sudeste,MG,Belo Horizonte,31,310620.0,31016.0,BELO HORIZONTE/ NOVA LIMA/ CAETE,2021-05-08,18,2512070.0,184979,1156,4497,47,NaN,NaN,1.0
969478,Sudeste,MG,Belo Horizonte,31,310620.0,31016.0,BELO HORIZONTE/ NOVA LIMA/ CAETE,2021-05-09,19,2512070.0,184979,0,4527,30,NaN,NaN,1.0
969479,Sudeste,MG,Belo Horizonte,31,310620.0,31016.0,BELO HORIZONTE/ NOVA LIMA/ CAETE,2021-05-10,19,2512070.0,184979,0,4541,14,NaN,NaN,1.0
969480,Sudeste,MG,Belo Horizonte,31,310620.0,31016.0,BELO HORIZONTE/ NOVA LIMA/ CAETE,2021-05-11,19,2512070.0,186779,1800,4544,3,NaN,NaN,1.0
969481,Sudeste,MG,Belo Horizonte,31,310620.0,31016.0,BELO HORIZONTE/ NOVA LIMA/ CAETE,2021-05-12,19,2512070.0,188099,1320,4579,35,NaN,NaN,1.0

### 2. Explorando o dataset.

#### Exercício 2.1. Quantas filas e quantas colunas o dataset tem?

In [7]:
print(f'Nº de linhas: {dataset.shape[0]}\nNº de colunas: {dataset.shape[1]}')

Nº de linhas: 2315898
Nº de colunas: 17

#### Exercício 2.2 Que informação o dataset tem? Imprima o nome das colunas.

In [8]:
dataset.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos',
       'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana'],
      dtype='object')

#### Exercício 2.3: Como o dataset está indexado?

In [9]:
dataset.index

RangeIndex(start=0, stop=2315898, step=1)

#### Exercício 2.4: Qual é o tipo da quarta coluna?

In [62]:
dataset.dtypes
dataset.dtypes[3]

dtype('int64')

#### Exercício 2.5: Qual é o município com o maior número de instâncias no dataset?

In [9]:
dataset['municipio'].value_counts()

Bom Jesus               2060
São Domingos            2060
São Francisco           1648
Santa Helena            1648
Santa Luzia             1648
                        ...
Carnaubais               412
Novorizonte              412
Santa Maria Madalena     412
Biguaçu                  412
Brumadinho               412
Name: municipio, Length: 5297, dtype: int64

#### Exercício 2.6: Como os nomes das regiões de saúde estão distribuídos no dataset?

In [15]:
plot_data = dataset['nomeRegiaoSaude'].value_counts()
plot_data
# plt.plot(plot_data)
# plt.show()

CENTRAL                                23896
SUL                                    18128
VALE DO RIO GUARIBAS                   17304
6ª REGIAO DE SAUDE - PAU DOS FERROS    15244
NORTE                                  14420
                                       ...
SANTOS DUMONT                           1236
CONTAGEM                                1236
CORUMBA                                  824
DISTRITO FEDERAL                         412
SAO PAULO                                412
Name: nomeRegiaoSaude, Length: 440, dtype: int64

#### Exercício 2.7: Qual é o número de casos acumulados na capital de MG, no dia 2020-03-31?

In [82]:
dataset_MG_BH.columns
dataset_MG_BH[(dataset_MG_BH.data == '2020-03-31')]['casosAcumulado'].values

array([163])

#### Exercício 2.8: Qual é o número total de casos acumulados para todas as cidades do estado de MG, no dia 2020-03-31?

In [90]:
dataset_MG[(dataset_MG.data == '2021-03-21') & (dataset_MG.index != 7923)]['casosAcumulado'].sum()

1033562

In [89]:
dataset_MG[dataset_MG.index == 7923]

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
7923,Sudeste,MG,NaN,31,NaN,NaN,NaN,2021-03-21,12,21168791.0,1033562,9593,22007,243,NaN,NaN,NaN

#### Exercício 2.9: Qual é o valor médio de "semanaEpi"  durante todo o período?

In [10]:
dataset_MG['semanaEpi'].mean()

25.91859002926558

### 3. Indexando e organizando os dados.

#### Exercício 3.1:  Selecionar  valores não duplicados para as coluna 'municipio','coduf', 'codmun', 'codRegiaoSaude' e atribuí-las a um objeto novo chamado 'covid21MGMunicipios'.

In [24]:
covid21MGMunicipios = dataset_MG[['municipio','coduf','codmun','codRegiaoSaude']].drop_duplicates()
covid21MGMunicipios.drop(7533,inplace = True)
covid21MGMunicipios

                      municipio  coduf    codmun  codRegiaoSaude
941878                      NaN     31  310000.0             NaN
942290      Abadia dos Dourados     31  310010.0         31074.0
942702                   Abaeté     31  310020.0         31024.0
943114               Abre Campo     31  310030.0         31059.0
943526                  Acaiaca     31  310040.0         31060.0
...                         ...    ...       ...             ...
1291666            Virginópolis     31  317180.0         31020.0
1292078             Virgolândia     31  317190.0         31036.0
1292490  Visconde do Rio Branco     31  317200.0         31048.0
1292902            Volta Grande     31  317210.0         31041.0
1293314          Wenceslau Braz     31  317220.0         31003.0

[854 rows x 4 columns]

#### Exercício 3.2:  Selecionar as primeiras 20 filas de 'covid21MGMunicipios'

In [ ]:
covid21MGMunicipios.head(20)

#### Exercício 3.3:  Selecionar uma amostra aleatória de 100 filas de 'covid21MGMunicipios'

In [26]:
covid21MGMunicipios.sample(100)

                     municipio  coduf    codmun  codRegiaoSaude
943526                 Acaiaca     31  310040.0         31060.0
960006                   Araxá     31  310400.0         31070.0
1133458              Marliéria     31  314030.0         31035.0
1013566             Centralina     31  311580.0         31073.0
1100086              Itaverava     31  313390.0         31079.0
...                        ...    ...       ...             ...
1217094    Santa Cruz de Minas     31  315733.0         31015.0
1264886      Serra dos Aimorés     31  316670.0         31066.0
1056002         Estrela do Sul     31  312480.0         31074.0
1253762  São Sebastião do Anta     31  316447.0         31034.0
1224510    Santana do Manhuaçu     31  315890.0         31059.0

[100 rows x 4 columns]

#### Exercício 3.4: Escolher todas as colunas, exceto 'coduf'. Utilize a propriedade columns para filtrar na dimensão das colunas.

In [38]:
columns = covid21MGMunicipios.columns
columns = columns.drop('coduf')
columns
columns = dataset.filter(columns)

In [39]:
columns.dropna(axis=0,how='all')

        municipio    codmun  codRegiaoSaude
12406         NaN  110000.0             NaN
12407         NaN  110000.0             NaN
12408         NaN  110000.0             NaN
12409         NaN  110000.0             NaN
12410         NaN  110000.0             NaN
...           ...       ...             ...
2315893  Brasília  530010.0         53001.0
2315894  Brasília  530010.0         53001.0
2315895  Brasília  530010.0         53001.0
2315896  Brasília  530010.0         53001.0
2315897  Brasília  530010.0         53001.0

[2303492 rows x 3 columns]

### Meu Fracasso 
##### Esse estudo foi feito de forma errada, pois foi evidenciado dados que a populacaoTCU2019 tem variações em alguns municipios.
##### Mas por ter códigos interessantes de minha autoria, quis deixar como histórico.

#### Exercício 3.5: Organizar o dataset dos municípios segundo a população, de forma decrescente.

In [32]:
dataset.columns
dataset_desc = dataset[['municipio','populacaoTCU2019']].drop_duplicates().dropna()
dataset_desc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 12818 to 2315486
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   municipio         5570 non-null   object
 1   populacaoTCU2019  5570 non-null   float64
dtypes: float64(1), object(1)
memory usage: 130.5+ KB

#### Exercício 3.6: Qual é a população média da população dos municípios, despois de excluirmos aqueles cujas populações são menores que 10000000 e maiores que 500000 habitantes?

In [34]:
pop_media = dataset_desc[(dataset_desc.populacaoTCU2019 >=500000 ) & (dataset_desc.populacaoTCU2019 <=10000000)]['populacaoTCU2019'].mean()
pop_media

1154479.7234042552